.all {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Fullpage {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
}

