.toplist {
    background-color:rgba(245, 234, 244, 0.719);
    text-align: center;
    font-size: x-small;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: flex;
}

h4 {
    margin: 0;
}

.toplistRound {
    width: 50%;
    border: 2px solid black;
}

.toplistTime {
    width: 50%;
    border: 2px solid black;
}


h3 {
    margin-bottom: 1%;
    border-bottom: 2px solid rgba(189, 135, 194, 0.897);
    margin-top:1%;
    font-size: large;
}
.outerToplistContainer {
    width: 100%;
}


.toplistContainer {
    display: flex;
    width: 100%;
}

.toplistTable {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.toplistTable .table-name {
    text-align: left;
}

.input {
    display: block;
    width: 50%;
    border: 2px solid black;
    align-items: center;
    align-content: center;
}

.toplist input {
    display: flex;
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 12px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-small;
}

.toplist button {
    background-color: rgb(177, 169, 169);
    margin-top: 0%;
    width: 90%;
    height: auto;
    font-weight: 700;
    font-size: x-small;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 12px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

th {
    color: brown;
    font-weight: 700;


}